.footer {
  background-color: #2C2B2B;
  color: grey;
  padding: 40px;
}

.footer p {
  margin: 0px;
}

ul {
  list-style-type: none;
}

.footer-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links li {
  padding: 8px;
}

.footer-links p {
  text-align: center;
}
