
h1 {
  @import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
}

img{
  width: 100px;
}

.img-circle {
  border-radius: 50%;
}

div {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
